

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    color: white;
    text-decoration: none;
}

body {
    text-align: center;
}

#todo {
    /* background: linear-gradient( #090510, #280e2d, #090510); */
    background: linear-gradient( #050510, #111134, #050510);
}

/* NAV */

#nav-header {
    background-image: url(img/portada\ maxy1.png);
    background-size: cover;
    height: 880px;
}

nav {
    color: #6b63b2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    /* background: linear-gradient(rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.1)); */
}

nav li {
    list-style: none;
    transition: 0.3s ease;
    padding: 5px 20px;
    font-weight: 550;
    opacity: 0.9;
    letter-spacing: 2px;
}

nav li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.188);
    border-radius: 5px;
    opacity: 1;
}

#logo img {
    width: 35px;
    margin-left: 15px;
    margin-top: 7px;
}

#logo img:hover {
    cursor: pointer;
    opacity: 0.8;
}

#menu {
    margin-right: 10px;
    width: 50%;
}

#menu ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: 500;
    align-items: center;
}

#menu-bt {
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 15px;
    color: white;
}


/* HEADER */
header {
    color: white;
    display: flex;
    justify-content: center;
    height: 750px;
    flex-direction: column;
    width: 40%;
    margin-left: 55%;
}

#header-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 21px;
    word-spacing: 2px;
    opacity: 0.7;
}

#header-bt {
    width: 160px;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    background: linear-gradient(#5e579e, #242046);
    color: white;
    border: none;
    margin-left: 68%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header-bt:hover {
    background: linear-gradient(#242046, #5e579e);
    opacity: 0.8;
    cursor: pointer;
}


#hello {
    text-align: left;
    margin-left: 45px;
    font-size: 20px;
    color: #6b63b2;
    font-weight: 550;
    opacity: 0.8;
    position: relative;
    top: 20px;
}

#titulodescripcion {
    width: 100%;
    margin-right:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;}


#titulodescripcion h1 {
    font-size: 90px;
    letter-spacing: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*GALERIA (seccion1)*/

#seccion1 {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    padding-top: 50px;
}

#titulo1 {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 0px 0px 30px #b3abfc;
    
}

#seccion1p {
    margin-bottom: 30px;
    color: #6b63b2;
    font-size: 20px;
    opacity: 0.8;
} 

#galeria {
    display: flex;
    width: 95%;
    height: 750px;
    margin: 0px auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #ffffff21;
    border-radius: 15px;
}

#galeria article {
    background-image: url(img/SkinArt_Merlin_Default.webp);
    background-size: cover;
    width: 0px;
    flex-grow: 1;
    opacity: 0.7;
    transition: 0.5s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: justify;
    overflow: hidden;
    height: 690px;
    box-sizing: border-box;
}

.texto-galeria {
    width: 100%;
    box-sizing: border-box;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: 0.5s ease;
    font-weight: 500;
}

#galeria #img1 {
    background-image: url(img/goku\ blue\ 1.webp);
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#galeria #img2 {
    background-image: url(img/torres.png);
    background-size: cover;
}

#galeria #img3 {
    background-image: url(img/elden.png);
}

#galeria #img4 {
    background-image: url(img/astroneer.jpg);
    background-size: cover;
}

#galeria #img5 {
    background-image: url(img/age.jfif);
    background-size: cover;
}

#galeria #img6 {
    background-image: url(img/SkinArt_Surtr_Default.webp);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.contenedor-img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: 0.5s ease;
    }

#galeria article:hover {
    cursor: pointer;
    opacity: 1;
    width: 380px;
}

.contenedor-img:hover {
    opacity: 1;
}

.contenedor-img button {
    width: 120px;
    border: none;
    background: linear-gradient(#5e579e, #242046);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 11px;
    font-weight: 500;
    position: relative;
    left: 70%;
    margin: 20px 0px;
}

.contenedor-img button:hover {
    cursor: pointer;
    background: linear-gradient(#242046, #5e579e);
}

.texto-galeria h1, .texto-galeria p {
    background-color: rgba(0, 0, 0, 0.442);
    padding-right: 200px;
    padding-left: 40px;
    transition: 0.5s ease;
}

.texto-galeria p {
    padding-bottom: 30px;
}

.texto-galeria h1 {
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
}


.contenedor-img p {
    width: 400px;
}

/**/

/*SECCION2*/
#seccion2 {
    height: 730px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    width: 95%;
    margin: 0 auto;
}

#seccion2h {
    color: white;
    margin-top: 90px;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 0px 0px 30px #b3abfc;

}

#seccion2p {
    color: #6b63b2;
    font-size: 20px;
    opacity: 0.8;
}

/* columnas */
#pros, #contras {
    width: 50%;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}

#pros {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#contras {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* cada pro y contra */
#pros article, #contras article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

/* caja de titulo e img */
.pro {
    width: 150px;
    height: 150px;
    
    background: linear-gradient(#411847, #0c030d);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    

}

.pro h2 {
    padding-bottom: 10px;
    font-weight: 500;
    color: #834f99;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pro img {
    width: 50px;
}

/* caja de texto de pro y contra */
.protext {
    width: 500px;
    height: 150px;
    box-sizing: border-box;
    padding: 25px 5px 25px 15px;
    background-color: #140517;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/**/

#seccion3 {
    color: white;
    height: 1100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#seccion3 iframe {
    height: 315px;
    width: 560px;
}

#seccion3 h1 {
    font-size: 40px;
    font-weight: 400;
    text-shadow: 0px 0px 30px #b3abfc;

}

#seccion3p {
    padding-bottom: 40px;
    color: #6b63b2;
    font-size: 20px;
    opacity: 0.8;
}

#caja3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    height: 850px;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 15px;
    padding: 20px;
}

/* footer */

footer {
    background-color: #080414;
    color: white;
    margin-top: 40px;
}

footer img {
    width: 35px;
    padding: 20px 10px;
}

#gato {
    width: 50px;
    padding: 0px;
}

footer p {
    font-size: 17px;
}
/* 
#galeria {
    display: flex;
    width: 100%;
    height: 700px;
}

#galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}

#galeria img:hover {
    width: 400px;
    opacity: 1;
    cursor: pointer;
} */
